/*.nav-bar{
    background-color:aqua;
    width: 100%;
    margin: 0;
    z-index: 0;

}
body{
    background-color: bisque;
    z-index: -1;
}

.option{
    margin: 0;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;

}

/*pegar lo de media only screen  y el color del body */

/*@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}*/


body{
    background-color: rgb(230, 90, 223);
    margin: 0;
}

.container{
    min-height: 100px;/*pata auto-ajustarce, no es un tamaño estatico*/
    width: 90%;
    background-color: thistle;
    overflow:hidden; /*overflow es cuando sobre-pasa las dimesiones */
    margin:0 auto;
    /*0 aunto para centrar algo*/
    position: absolute;

}

.selection{
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    background-color: rgb(167, 167, 57);
    margin-left: 0px;
}

.section1{  /*no se re-odena porque no tiene over-flow*/
    width: 60%;
    min-height: 300px;
    overflow: hidden;
    background-color:chocolate;
    color: black;
    float: left;
    
}
.section2{
    width: 20%;
    min-height: 500px;
    overflow: hidden;
    background-color:chocolate;
    color: black;
    float: left;
}
.section-container, .options-container {
    width: 100%;/*relativo a donde se encuentra*/
    min-height: 100px;

}









  /*que se en un rango, esl and sirve para daler el rango, para que cuando llegue a ese rango, haga algo */
@media only screen and (max-width:1000px)
/*para que funcione solo en ese tiempo de pantallas*/
{
    body{
        background-color: rgb(160, 62, 155);
    }
    .pixels-text{
        color:cornsilk;
        font-size: 40px;
        font-family: monospace;
        }
}

@media only screen and (max-width:800px)
/*para que funcione solo en ese tiempo de pantallas*/
{
    body{
        background-color:rgb(105, 42, 102);
    }
    .pixels-text{
        color:blue;
        font-size: 80px;
        font-family: fantasy;
    }

}




@media only screen and (max-width:600px)
/*para que funcione solo en ese tiempo de pantallas*/
{
    body{
        background-color:rgb(59, 24, 58);
    }

    .pixels-text{
        color: turquoise;
        font-size: 120px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .selection{
        float: none;
    }
    .selection-hover{
    background-color: yellowgreen;
    color:black; 
    }

    .container{
        width: 100px;
    }
    .section1, .section2{
        font-size: 20px;
    }
    
}




/*.pixels-text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    color: black;
    text-align: center;
    top:50%;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
}*/

